body{
    background-color:#EAF6F6;

}
hr{
    border-style: dotted none none;
    border-color: black;
    border-width: 5px;

    width: 7%;

}

img{
    height: 280px;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}